*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
data/internals
data/ruhoh-site
data/octopress-site/
data/ruhoh-site-garbage/
data/ruhoh.rb/
data/site/
test/version_tmp
tmp
/nbproject/
